// .mobile-card {
//   display: flex;
//   flex-direction: column;

//   &__value {
//     color: rgba(var(--vt-c-black), 0.87);
//     font-size: 18px;
//     line-height: 21px;
//   }

//   &__label {
//     color: rgba(var(--vt-c-black), 0.87);
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 16px;
//     opacity: 0.5
//   }
// }


.mobile-card {
  display: flex;
  flex-direction: column;
  width: 100%; // Растягиваем карточку на всю ширину
  background-color: white; // Устанавливаем белый фон
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Добавляем тень
  border-radius: 4px; // Слегка закругляем углы

  &__section {
    padding: 15px; // Отступы внутри каждого раздела
  }

  &__value {
    color: rgba(var(--vt-c-black), 0.87);
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px; // Отступы между лейблом и значением
  }

  &__label {
    color: rgba(var(--vt-c-black), 0.87);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
    margin-bottom: 3px; // Отступы между элементами
  }
}